/* Add Custom Font Here */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif !important;
  background-color: #2F0743 !important;
}
/* Description Area Design Here */
#show-details{
  display: none;
  margin-left: 1rem;
  
}
/* Custom Button Fix Here */
.btn-danger {
  color: #fff !important;
  margin-left: 2rem;
}
/* This Class create for taking images center */
.image-center{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
/* All Products Area Design here */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  margin: auto;
  padding-left: 1rem;
  align-items: center;
  justify-content: center; 
}
/* All Products Area here */
.single-product { 
  border: 1px solid grey;
  padding: 20px 15px;
  transition: 0.4s;
  height: 470px ;
  border-radius: 10px;
  background-image: linear-gradient(#fff,#fff, #fffc00);
}
.single-product:hover{
  box-shadow: 0px 0px 10px red;
}
/* Fixed Images Size */
.product-image {
  width: 150px;
  height: 150px;
}
/* Cart Page Design */
.cart {
  width: 350px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-image: linear-gradient(to right, #fffc00, #fff, #fff);
}
.cart-main {
  padding-right: 30px;
}
/* Custom Responsive Here */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
